{% extends 'homekart/basic.html' %}

{% block title %} About Us {% endblock %}

{% block body %} 

<main class="container">
    <div class="bg-light p-5 rounded">
      <h1>The Homekart Story</h1>
      <p class="lead">Homekart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, as a private limited company.
           The company initially focused on online sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products and also Farmers Goods buy and Sell.
        The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeaal. Homekart also owns PhonePe, a mobile payments service based on the UPI. </p>
    </div>
  </main>

{% endblock %}